/**
 * Ladybug
 * http://drupal.org/project/ladybug
 * http://drupal.org/user/356197
 *
 * Credits:
 * Icons: http://www.icojoy.com/articles/44/
 * Icons: http://www.icojoy.com/articles/46/
 */
/* @group Admin */
/* @group Theme Listing (admin/build/themes) */
.theme-info h2 {
  margin: 0;
}
.theme-info .description {
  padding: 0;
}
/* @end */
/* @group Logs */
#edit-type-wrapper, #edit-severity-wrapper {
  float: left;
  padding-right: 0.8em;
  margin: 0 0.5em 2em 0;
  width: 15em;
}
/* @end */
/* @group Status Report */
table.system-status-report tbody {
  border: none;
  border-bottom: solid 1px #eee;
}
table.system-status-report th {
  text-shadow: none;
  border: solid 1px #eee;
  border-bottom: none;
}
table.system-status-report tr.odd th {
  border-bottom: 1px solid #eee;
  background-color: #fff;
  background-image: none;
}
table.system-status-report tr.even th,
table.system-status-report tr.even td,
table.system-status-report tr.odd td,
table.system-status-report tr.info td {
  background-color: #fff;
  background-image: none;
  border-color: #eee!important;
}
table.system-status-report tr.even td,
table.system-status-report tr.odd td,
table.system-status-report tr.info td {
  color: #444;
}
table.system-status-report th {
  background-repeat: no-repeat;
  background-position: 5px 50%; /* LTR */
  padding: 0.25em 0.5em;
  color: #000;
  font-weight: 700;
}
/* Drupal Version */
table.system-status-report tr.info.odd:first-child .icon {
  background: transparent url('../images/sprites-ladybug.png') no-repeat 5px -1285px;
}
table.system-status-report th .icon {
  background: transparent url('../images/sprites-16.png') no-repeat;
  width: 25px;
  height: 20px;
  display: block;
  float: left;
  margin-right: 5px;
}
table.system-status-report tr.error .icon {
  background-position: -161px -1639px;
}
table.system-status-report tr.warning .icon {
  background-position: -161px -443px;
}
table.system-status-report tr.ok .icon {
  background-position: 5px -1088px;
}
table.system-status-report th,
table.system-status-report tr.merge-up td {
  padding-left: 0; /* LTR */
}
table.system-status-report tr.merge-up td {
  padding: 0.5em 1em 1em 4em;
  border: solid 1px #eee!important;
  color: #444;
  font-style: italic;
}
/* @end */
/* @group Update */
.update tr td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.update tr.error td {
  background: #fdd;
}
.update tr.error .version-recommended {
  background: #fdd;
}
.update tr.ok td {
  background: #dfd;
}
.update tr.warning td {
  background: #ffd;
}
.update tr.warning td.version-recommended {
  background: #ffe;
}
table.version,
table.version td {
  border: none!important;
}
.version-status .icon {
  background: transparent url('../images/sprites-16.png') no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  float: right;
}
.version-status .icon img {
  display: none;
}
tr.error .version-status .icon {
  background-position: -161px -1639px;
}
tr.warning .version-status .icon {
  background-position: -161px -443px;
}
tr.ok .version-status .icon {
  background-position: 5px -1088px;
}
.version-links .links {
  list-style: none;
}
.version-links .links li {
  list-style: none;
  padding: 0.5em 0.25em;
}

/* @end */

/* @group Block Listing */
.block-region {
  background: transparent;
  outline: dashed 3px #ddd;
  margin: 0;
  opacity: 0.9;
}
/* @end */
.section-admin #main h3 {
  margin-bottom: 0;
}
.section-admin div.left,
.section-admin div.right {
  width: 47.5%;
  overflow: hidden;
  float: left;
  margin: 0 5% 0 0;
}
.section-admin div.right {
  margin-right: 0;
}
.section-admin dd {
  color: #888;
}
.section-admin .admin-panel .description {
  margin: 0;
  padding: 1em 0;
}
.section-admin .admin-panel .body {
  margin: 0;
  padding: 0;
}

/* @end */
/* @group Module Support */
/* @group Panels */
#panels-dnd-main div.panels-display {
  border: 1px dashed #ddd;
  background: #f8f8f8;
  -webkit-border-radius: 0.333em;
  -moz-border-radius: 0.333em;
}
#panels-dnd-main div.panels-display h2.label {
  color: #555!important;
  text-shadow: #fff 1px 1px 1px;
}
/* @group Portlet */
.panel-portlet .grabber {
  background: #b3b3b3 url('../images/bg-shade-medium.png') repeat-x 0 100%;
  color: #fff;
  text-shadow: #555 1px 1px 1px;
  border-color: #999;
  font-weight: bold;
}
.panel-portlet {
  border: 1px solid #bbb;
}
.panel-portlet .toggle {
  background: url('../images/icn-ladybug.png') no-repeat 6px -245px!important;
}
.panel-portlet .toggle-collapsed {
  background: url('../images/icn-ladybug.png') no-repeat 6px -1021px!important;
}
.panel-portlet .grabber:hover,
.panel-portlet .grabber:active {
  background: #858585 url('../images/bg-shade-dark.png') repeat-x 0 100%;
  color: #fff;
  text-shadow: #333 1px 1px 1px;
  border-color: #858585;
}
/* @end */
/* @group Panes */
.panel-pane.hidden-pane {
  background: #f8f8f8;
}
.panel-pane h2.title {
  padding: 0.25em 0.5em;
}
.panel-pane h2.title:after {
  font-size: 0.8em;
  color: crimson;
  letter-spacing: normal;
  display: block;
}
.panel-pane.hidden-pane h2.title:after {
  content: " status: hidden";
}
.panel-pane.changed h2.title:after {
  content: " status: changes not saved";
}
.panel-pane.hidden-pane.changed h2.title:after {
  content: " status: hidden & changed";
}
/* CSS to guide a user to a place to drop */
#panels-dnd-main .helperclass {
  border: 1px dashed #aaa;
}
/* Add Icon */
#panels-dnd-main div.panels-display .pane-add-link  {
  position: absolute;
}
#panels-dnd-main div.panels-display .pane-add-link img {
  display: none;
}
#panels-dnd-main div.panels-display .pane-add-link a.ctools-dropdown-image-link {
  margin: 5px;
  border: none;
  width: 16px;
  height: 16px;
  float: left;
  background: url('../images/sprites-16.png') no-repeat -166px -582px;
}
/* @end */
/* Cog Icon */
.panel-portlet .buttons a img {
  display: none;
  margin: 0;
}
.panel-portlet .buttons a.ctools-dropdown-image-link {
  border: none;
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
  float: none;
  display: block;
  background: url('../images/sprites-16.png') no-repeat 0 -1178px;  
}
/* @group CTools Dropdown */
.ctools-dropdown a.ctools-dropdown-text-link {
  background: url('../images/icn-arrow-down-light.png') 0 3px no-repeat!important;
  padding-left: 12px;
}
html.js div.ctools-dropdown div.ctools-dropdown-container {
  width: 160px!important;
  background: #fff url('../images/bg-shade-white-lrg.png') repeat-x 0 100%;
  border: solid 1px #ddd!important;
  margin: 0!important;
  padding: 0.5em!important;
  -webkit-border-radius: 0.333em;
  -moz-border-radius: 0.333em;
  -webkit-box-shadow: 0.333em 0.333em 0.333em rgba(0, 0, 0, 0.25);
  font-size: 0.9em;
}
html.js div.ctools-dropdown div.ctools-dropdown-container ul li {
  text-decoration: none;
  padding: 0.2em 0!important;
  color: #555!important;
  text-shadow: #fff 1px 1px 1px;
}
html.js div.ctools-dropdown div.ctools-dropdown-container ul li span.text {
  font-style: normal;
  color: #000;
  font-weight: bold;
}
html.js div.ctools-dropdown div.ctools-dropdown-container ul li a {
  color: #555!important;
  font-weight: normal;
}
html.js div.ctools-dropdown div.ctools-dropdown-container ul li a:hover {
  background: none!important;
  color: #000!important;
}
html.js div.panels-display-links div.ctools-dropdown-container ul li a {
  width: 160px;
}
/* @end */
/* @group Modal */
/* Account for the extra div coming from ctools_modal_form_render() */
div.messages div.messages {
  background: none;
  border: none;
  margin: 0;
  padding: 0; 
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
div.ctools-modal-content .modal-header {
  background: #fff url('../images/bg-shade-light.png') repeat-x bottom left;
  color: #777;
  display: block;
  font-weight: 700;
  letter-spacing: normal;
  padding: 0.25em 1em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
}
div.ctools-modal-content .modal-title {
  font-size: 120%;
  font-weight: bold;
  text-shadow: #fff 1px 1px 1px;
  color: #555;
}
div.ctools-modal-content a.close {
  color: #666;
  font-weight: normal;
  padding-left: 1.6em;
  background: url('../images/sprites-16.png') no-repeat -166px -1684px;
}
div.ctools-modal-content a.close img {
  display: none;
}
/** modal forms CSS **/
div.ctools-modal-content .form-item label {
  width: 100%;
  float: none;
  clear: both;
}
div.ctools-modal-content .resizable-textarea {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
div.ctools-modal-content {
  font-size: 12px;
  border: solid 1px #ddd;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-box-shadow: -1em 1em 1em rgba(0, 0, 0, 0.5);
}
#modalBackdrop {
  position: fixed!important;
  background-color: #000!important;
}
/* @end */
/* @end */
